<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品库查询</title>
   <!--easyui-->
    <link rel="stylesheet" href="/webapp/static/libs/easyui/css/default/easyui.css">
    <link rel="stylesheet" href="/webapp/static/libs/easyui/css/icon.css">
    <!--ztree-->
    <link rel="stylesheet" href="/webapp/static/libs/zTree/css/zTreeStyle.css">
    <!--app css-->
    <link rel="stylesheet" href="/webapp/static/css/icon.css">
    <link rel="stylesheet" href="/webapp/static/css/style.css">
    <link rel="stylesheet" href="/webapp/static/css/component.css">
    <link rel="stylesheet" href="/webapp/static/css/base.css">
    <link rel="stylesheet" href="/webapp/static/css/app.css">
	<!--jquery-->
    <script src="/webapp/static/libs/jquery/js/jquery-1.11.1.min.js"></script>
    <!--easyui-->
    <script src="/webapp/static/libs/easyui/js/jquery.easyui.min.js"></script>
    <script src="/webapp/static/libs/easyui/js/easyui-lang-zh_CN.js"></script>
    <!--ztree-->
    <script src="/webapp/static/libs/zTree/js/jquery.ztree.core.min.js"></script>
    <!--datepicker-->
    <script  src="/webapp/static/libs/datepicker/WdatePicker.js"></script>
    <script  src="/webapp/static/js/fun/baseEasyui.js"></script>
    <script  src="/webapp/static/js/views/productInquire/productInquire.js"></script>
</head>
<body class="ub uw uh ufs-14 uc-black">

    <div class="ub ub-ver ub-f1 upad-8">
        <div class="ub ub-ac">
            <!--buttons-->
            <div class="ubtns">
                <div class="ubtns-item">查询</div>
                <div class="ubtns-item">打印</div>
                <div class="ubtns-item">设置</div>
                <div class="ubtns-item">导出</div>
                <div class="ubtns-item">退出</div>
            </div>
        </div>
        <div class="ub umar-t8 uc-black">【店铺】：</div>
        <div class="ub uline umar-t8"></div>

        <div class="ub ub-ver umar-t12">

          <div class="ub umar-t8">
                <div class="ub ub-ac">
                	<div class="umar-r10 uw-70 ut-r">店铺名称:</div>
                    <input class="uinp ub ub-f1" type="text">
                    <div class="uinp-more">...</div>
                    
                </div>
                <div class="ub ub-ac uw-300 umar-l20">
                    <div class="umar-r10 uw-70 ut-r">助记码:</div>
                    <input class="uinp" type="text">
                </div>
                <div class="ub ub-ac uw-300 umar-l40">
                    <div class="umar-r10 uw-70 ut-r">计价方式:</div>
                       <!--select-->
				        <select class="easyui-combobox uselect" name="select">
				            <option value="1" selected="selected">全部</option>
				            <option value="2">普通</option>
				            <option value="3">计重</option>
				            <option value="4">计件</option>
				        </select>
                </div>
            </div>
            <div class="ub umar-t8">
                <div class="ub ub-ac">
                	<div class="umar-r10 uw-70 ut-r">条码/货号:</div>
                    <input class="uinp ub ub-f1" type="text">
                </div>
                <div class="ub ub-ac uw-300 umar-l20">
                    <div class="umar-r10 uw-70 ut-r">商品名称:</div>
                    <input class="uinp" type="text">
                </div>
                <div class="ub ub-ac uw-300 umar-l40">
                    <div class="umar-r10 uw-70 ut-r">商品状态:</div>
                       <!--select-->
				        <select class="easyui-combobox uselect" name="select">
				            <option value="1" selected="selected">全部</option>
				            <option value="2">停购</option>
				            <option value="2">停售</option>
				            <option value="3">正常</option>
				            <option value="4">淘汰</option>
				        </select>
                </div>
            </div>
            
            <div class="ub umar-t8">
                <div class="ub ub-ac">
                	<div class="umar-r10 uw-70 ut-r">类别:</div>
                    <input class="uinp ub ub-f1" type="text">
                    <div class="uinp-more">...</div>
                    
                </div>
                <div class="ub ub-ac uw-300 umar-l20">
                   <div class="umar-r10 uw-70 ut-r">库存大于:</div>
                   <input class="uinp" type="text">
                </div>
                <div class="ub ub-ac uw-300 umar-l40">
                   <div class="umar-r10 uw-70 ut-r">库存小于:</div>
                   <input class="uinp" type="text">
                </div>
            </div>
            
    
            <div class="ub umar-t8 umar-b8">【查询信息】</div>
            <!--datagrid-->
            <table id="productInquire"></table>
        </div>
    </div>


</body>
</html>