<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>云上城·进销存</title>
    <!--easyui-->
    <link rel="stylesheet" href="/webapp/WEB-INF/libs/easyui/css/default/easyui.css">
    <link rel="stylesheet" href="/webapp/WEB-INF/libs/easyui/css/icon.css">
    <!--ztree-->
    <link rel="stylesheet" href="/webapp/WEB-INF/libs/zTree/css/zTreeStyle.css">
    <!--app css-->
    <link rel="stylesheet" href="/webapp/WEB-INF/css/icon.css">
    <link rel="stylesheet" href="/webapp/WEB-INF/css/style.css">
</head>
<body>

<!--jquery-->
<script src="/webapp/WEB-INF/libs/jquery/js/jquery-1.11.1.min.js"></script>
<!--easyui-->
<script src="/webapp/WEB-INF/libs/easyui/js/jquery.easyui.min.js"></script>
<script src="/webapp/WEB-INF/libs/easyui/js/easyui-lang-zh_CN.js"></script>

</body>
</html>