@charset "UTF-8";
/*component css*/
/**
 * 黄江 on 2016/03/31
 * 描述：配置样式
 */
/*==========================button from huangjiang to 2016-8-4 17:48:32===========================*/
.ubtn {
  width: 60px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #393939;
  font-size: 14px;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  background-color: #fff; }

.ubtn:hover {
  background-color: #c9c9c9; }

.usure {
  background-color: #d2423e;
  color: #fff; }

.ucancle {
  background-color: #6e6e6e;
  color: #fff; }

.ubtns {
  display: -webkit-box !important;
  /* Chrome, WebKit Safari */
  display: -moz-box !important;
  /* Firefox */
  display: -ms-flexbox !important;
  /* IE10 */
  display: box !important;
  position: relative;
  border: 1px solid #c9c9c9;
  border-radius: 4px; }
  .ubtns .ubtns-item {
    display: -webkit-box !important;
    /* Chrome, WebKit Safari */
    display: -moz-box !important;
    /* Firefox */
    display: -ms-flexbox !important;
    /* IE10 */
    display: box !important;
    position: relative;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    font-size: 14px;
    width: 72px;
    height: 32px;
    line-height: 32px;
    color: #393939;
    border: none;
    border-right: 1px solid #c9c9c9;
    background-color: #fff; }
	.ubtns-item-disabled{
	    display: box !important;
    position: relative;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    font-size: 14px;
    width: 72px;
    height: 32px;
    line-height: 32px;
    color: #393939;
    border: none;
        border-right: 1px solid #aaa;
    background-color: #cecece;
    text-align: center;
	}
  .ubtns .ubtns-item:end {
    border-right: 1px solid transparent; }
  .ubtns .ubtns-item:hover {
    color: #f0a314;
    background-color: #c9c9c9; }

/*==========================line from huangjiang to 2016-8-4 17:48:32===========================*/
.uline {
  width: 100%;
  height: 1px;
  background-color: #c9c9c9; }

.uline-v {
  width: 1px;
  height: 100%;
  background-color: #c9c9c9; }

/*==========================input from huangjiang to 2016-8-4 17:48:32===========================*/
.upublic {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9; }

.urequired {
  font-size: 16px;
  color: red; }

.utxt {
  width: 200px;
  height: 30px;
  line-height: 30px; }

.uinp {
  width: 200px;
  height: 30px;
  border: 1px solid #c9c9c9;
  text-indent: 4px;
  padding: 0 !important; }

.uinp:read-only {
  background-color: #ffffff; }
.uinp-no-more:read-only{
  background-color: #efefef;
}
.textbox-readonly input{
  background-color: #efefef !important; }
.uinp-more {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  padding: 0 4px;
  margin: 1px;
  cursor: pointer; }

.uinp-date {
  width: 200px;
  height: 30px;
  border: 1px solid #c9c9c9;
  text-indent: 4px; }

/*==========================select css from huangjiang to 2016-8-4 17:48:32===========================*/
.uselect {
  width: 200px !important;
  height: 32px !important; }

/*==========================datagrid css from huangjiang to 2016-8-4 17:48:32===========================*/
.datagrid .row-up {
  background: url(../images/base/UI_RowUP.png) no-repeat;
  width: 32px;
  height: 20px; }

.datagrid .row-down {
  background: url(../images/base/UI_RowDown.png) no-repeat;
  width: 32px;
  height: 20px; }

.datagrid-edit .add-line {
  background: url(../images/base/sidebar.png) no-repeat -10px -55px;
  width: 9px;
  height: 9px; }

.datagrid-edit .del-line {
  background: url(../images/base/sidebar.png) no-repeat -10px -38px;
  width: 9px;
  height: 9px; }

/*==========================WdatePicker reset css from huangjiang to 2016-8-10 14:10:02==========================*/
/*==========================easyui reset css from huangjiang to 2016-8-4 17:48:32===========================*/
.textbox {
  border-radius: 0px !important; }

.uinp .textbox-text {
  width: 200px !important;
  height: 30px !important;
  border-radius: 0px !important;
  color: #393939;
  padding: 0 4px !important; }

.uinp .combo {
  width: 200px !important;
  height: 32px !important; }

.uinp .combo-arrow {
  height: 32px !important; }

.textbox .combo {
  width: 200px !important;
  height: 32px !important; }

.datagrid {
  width: 100%; }
  .datagrid .datebox {
    width: 100px !important;
    border: 1px solid #95B8E7; }
  .datagrid .textbox {
    height: 30px !important;
    line-height: 30px !important; }
  .datagrid .textbox-disabled {
    background: rgba(255, 255, 255, 0) !important;
    border: none !important; }
    .datagrid .textbox-disabled .textbox-text {
      background: rgba(255, 255, 255, 0) !important;
      border: none !important; }

.panel-header, .window-header {
  background: none;
  width: 100% !important;
  border-color: #c9c9c9; }

.panel-title, .window-title {
  font-size: 14px; }

.panel-body, .window-body {
  width: auto !important;
  border-color: #c9c9c9 !important; }

.window {
  background: #fff !important;
  border-color: #c9c9c9; }

.dialog-button {
  border-width: 0;
  top: 0px !important;
  right: 20px !important; }

.dialog-button .l-btn {
  margin-left: 5px;
  padding: 4px;
  font-size: 14px;
  width: 80px; }

/*==========================easyui reset css from zhanghuan to 2016-9-5 14:30===========================*/
.textbox {
  border-radius: 0;
  border: 1px solid #c9c9c9;
  height: 32px !important; }

.textbox-text, .easyui-validatebox, .easyui-textbox {
  height: 30px !important;
  text-indent: 4px;
  padding: 0 !important;
  border: 1px solid #c9c9c9;
  width: 200px;
  line-height: 20px !important;
  background-color: #fff;
  vertical-align: baseline;
  color: #393939;
  outline: none; }

.textbox-text:focus, .easyui-validatebox:focus {
  border-color: #aaa;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(50, 50, 50, 0.2);
  color: #333; }
  
.textbox-text:read-only{
  background-color: #efefef;
}

.uinp-more.new-right {
  right: 10px; }
.tabs-header, .tabs-tool{
  background-color: #f8f8f8;
}


.newWdate{
	width:132px !important;
}