
    <div class="ub ub-ver ub-pc ub-ac ub-f1" >
            <div class="ub">
                <div class="ub ubor umar-r4 uw-160">
                    <div class="zTreeDemoBackground left">
                        <ul id="treeSupplier" class="ztree"></ul>
                    </div>
                </div>
                <div class="ub uw ub-ver ub-f1">
                    <form action="" id="formSupplier">
                        <div class="ub ub-ac upad-10 ">
                            <div class="ub ub-ac uw">
                                <div class="umar-r10">关键字:</div>
                                <input class="uinp ub ub-f1" type="text" >
                                <div class="ubtn umar-l20" onclick="supplierSearch()">查询</div>
                            </div>
                        </div>
                    </form>
                    <div class="ub ub-f1">
                        <table id="gridSupplier" style="width: 100%"></table>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <script src="/webapp/static/js/views/component/publicSupplier.js"></script>