
    <div class="ub ub-ver uh ub-pc ub-ac ub-f1" >
        <div class="ub">
            <div class="ub ubor umar-r4 uw-160">
                <div class="zTreeDemoBackground left">
                    <ul id="treeAgency" class="ztree"></ul>
                </div>
            </div>
            <div class="ub ub-ver ub-f1">
                <form action="" id="formAgency">
                    <div class="ub ub-ac upad-10 ">
                        <div class="ub ub-ac uw">
                            <div class="umar-r10">关键字:</div>
                            <input name="search" class="uinp ub ub-f1" type="text" >
                            <div class="ubtn umar-l20 umar-r10"  onclick="agencySearch()">查询</div>
                            <div class="ub ub-ac ">
                                <input class="ub" type="checkbox" name="hideAgency" checked="checked"/><span>不显示仓库</span>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="ub ub-f1">
                    <table id="gridAgency" style="width: 100%"></table>
                </div>
            </div>
        </div>
    </div>
    <script src="/webapp/static/js/views/component/publicAgency.js"></script>
