
<div class="ub uw uh ufs-14 uc-black">
    <div class="ub ub-ver ub-pc  ub-f1" >
        <div class="ub ub-f1">
            <div class="ub ub-ver uw-200">
                <select class="easyui-combobox uselect" name="select">
                    <option value="1" selected="selected">类别</option>
                    <option value="2">供应商</option>
                    <option value="3">品牌</option>
                </select>
                <div class="ub ubor ub-f1">
                    <div class="zTreeDemoBackground left">
                        <ul id="treeGoodsType" class="ztree"></ul>
                    </div>
                </div>
            </div>
            <div class="ub ub-ver ub-f1 ">
                <div class="ub ub-ac upad-10">
                    <input class="uinp ub ub-f1" type="text" placeholder="可按货号、自编码、品名、助记码等查询">
                    <input type="button" class="ubtn umar-l10" value="查询">
                </div>
                <div class="ub  ub-f1">
                    <table id="gridGoods"></table>
                </div>

            </div>
        </div>
        <!--<div class="ub ub-pe umar-10">-->
            <!--<input type="button" class="ubtn usure" value="确定" onclick="toSure()">-->
            <!--<input type="button" class="ubtn ucancle" value="取消" onclick="toCancel()">-->
        <!--</div>-->
    </div>
</div>
<script  src="/webapp/static/js/views/component/publicGoods.js"></script>