
.assigned {
    border: 1px solid gray;
}
.label.assigned {
text-align:right;
}
.selected {
border:1px dashed skyblue;
}

ul {
list-style:none;
}

ul li div {
font-size: 15px;

}

.c2,.c2:hover{
	color: #fff;
	border-color: #5f5f5f;
	background: #747474;
	background: -webkit-linear-gradient(top,#747474 0,#676767 100%);
	background: -moz-linear-gradient(top,#747474 0,#676767 100%);
	background: -o-linear-gradient(top,#747474 0,#676767 100%);
	background: linear-gradient(to bottom,#747474 0,#676767 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#747474,endColorstr=#676767,GradientType=0);
}
a.c2:hover{
	background: #676767;
	filter: none;
}

.c5,.c5:hover{
	color: #fff;
	border-color: #b52b27;
	background: #d84f4b;
	background: -webkit-linear-gradient(top,#d84f4b 0,#c9302c 100%);
	background: -moz-linear-gradient(top,#d84f4b 0,#c9302c 100%);
	background: -o-linear-gradient(top,#d84f4b 0,#c9302c 100%);
	background: linear-gradient(to bottom,#d84f4b 0,#c9302c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d84f4b,endColorstr=#c9302c,GradientType=0);
}
a.c5:hover{
	background: #c9302c;
	filter: none;
}
.panel-title-ex {
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #ccc;
    color: rgb(51,51,51) !important;
    /*padding-bottom:3px !important;*/
    padding: 5px !important;
    padding-left: 10px !important;
}
    .panel-title-ex div {
        height: 28px;
        font-size: 16px !important;
        line-height: 28px;
    }